/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'primeicons/primeicons.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-dark-blue/theme.css';
@import 'primeflex/primeflex.scss';

@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/nord';
@import 'codemirror/theme/material-palenight';
@import 'codemirror/theme/night';

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

:root {
  --surface-card: rgb(11, 33, 63);
  --darker-surface-card: rgb(14, 28, 48);
}

button,
.p-button {
  font-family: monospace !important;
}

.CodeMirror {
  margin: 1em;
  border-radius: 10px;
  height: 75vh !important;
  @extend .shadow-5;
}

.surface-card {
  background: var(--surface-card) !important;
}

.darker-surface-card {
  background: var(--darker-surface-card);
}

.p-selectbutton .p-button {
  border: 1px solid #93c5fd !important;
}

.p-chip {
  border-radius: 6px !important;
}
