<ng-container *ngIf="this.loggedInUser$ | async as user">
  <p-menubar>
    <ng-template pTemplate="start">
      <button pButton class="p-button-outlined" label="git gud" [routerLink]="['/']"></button>
      <p-button
        label="Add problem"
        icon="pi pi-plus"
        iconPos="right"
        class="p-button-outlined"
        [routerLink]="['/problem-submit']"
      >
      </p-button>
    </ng-template>
    <ng-template pTemplate="end">
      <button
        pButton
        class="p-button-outlined"
        icon="pi pi-user"
        [label]="user.name"
        [routerLink]="['/user/' + user._id]"
      ></button>
    </ng-template>
  </p-menubar>
  <router-outlet></router-outlet>
</ng-container>
