<git-gud-confirm-dialog></git-gud-confirm-dialog>

<p-toast position="bottom-right" (onClose)="this.messageService.clear()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
    </div>
  </ng-template>
</p-toast>

<ng-container *ngIf="this.user$ | async as user">
  <div class="flex flex-column align-items-center justify-content-center">
    <div *ngIf="editing; else notEditing" class="surface-card p-4 shadow-2 border-round lg:w-6">
      <div>
        <label for="name1" class="block text-900 font-medium mb-2">Name</label>
        <input id="name1" type="text" placeholder="Name" pInputText class="w-full mb-3" [(ngModel)]="name" />

        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3" [(ngModel)]="email" />
      </div>
    </div>

    <ng-template #notEditing>
      <div class="surface-card p-4 shadow-2 border-round lg:w-6 m-3">
        <div class="block text-900 font-medium mb-2">Name: {{ user.name }}</div>
        <div class="block text-900 font-medium mb-2">Email: {{ user.email }}</div>
      </div>
    </ng-template>

    <div class="flex justify-content-between lg:w-6">
      <button
        pButton
        class="p-button-outlined"
        [label]="this.editing ? 'Confirm' : 'Edit'"
        (click)="editButtonClick(user._id!)"
      ></button>

      <ng-container *ngIf="!this.editing">
        <button pButton class="p-button-outlined" label="Log out" (click)="logout()"></button>

        <button
          pButton
          class="p-button-danger p-button-outlined"
          label="Delete account"
          (click)="onDeleteClick(user._id!)"
        ></button>
      </ng-container>

      <ng-container *ngIf="this.editing">
        <button
          pButton
          class="p-button-outlined"
          label="Cancel"
          (click)="this.editing = !this.editing"
        ></button>
      </ng-container>

    </div>
  </div>
</ng-container>
