<ng-container *ngIf="this.problem$ | async as problem">
  <ng-container *ngIf="this.user$ | async as user">
    <div class="flex justify-content-between flex-wrap">
      <div class="flex flex-column" style="width: 50%">
        <div class="flex flex-row justify-content-between">
          <h1>{{ problem.title }}</h1>

          <button
            pButton
            label="Edit"
            class="p-button-outlined"
            (click)="this.router.navigate(['/problem-submit/' + problem._id])"
          ></button>

          <p-confirmDialog
            [style]="{ width: '50vw' }"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-text"
          ></p-confirmDialog>
          <button
            pButton
            (click)="deleteProblem(problem)"
            icon="pi pi-times"
            label="Delete"
            class="p-button-danger p-button-outlined"
          ></button>
        </div>

        <markdown [data]="problem.text" [disableSanitizer]="true"> </markdown>

        <div
          class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
          *ngFor="let testCase of problem.testCases; let i = index"
        >
          <h4>Testcase {{ i + 1 }}</h4>
          <div>
            Input: <code>{{ testCase.input }}</code>
          </div>
          <div>
            Expected output: <code>{{ testCase.desiredOutput }}</code>
          </div>
          <div>
            CPU time limit: <code>{{ testCase.cpuTimeLimit ? testCase.cpuTimeLimit : 'None' }}</code>
          </div>
          <div>
            Memory usage limit:
            <code>{{ testCase.memoryUsageLimit ? testCase.memoryUsageLimit + ' bytes' : 'None' }}</code>
          </div>
        </div>
      </div>

      <div style="width: 50%">
        <ng-container *ngIf="this.selectedLanguage$ | async as selectedLanguage">
          <div class="flex flex-row align-items-center">
            <h4>Language</h4>
            <p-dropdown
              [disabled]="loading"
              [options]="languages"
              [ngModel]="selectedLanguage$ | async"
              (ngModelChange)="this.selectedLanguage$.next($event); changeCodeTemplate(problem, user, $event)"
              optionLabel="name"
            >
            </p-dropdown>
          </div>

          <ngx-codemirror
            [disabled]="this.loading"
            [(ngModel)]="code"
            [options]="this.codemirrorOptions"
          ></ngx-codemirror>
          <div class="flex justify-content-end">
            <button
              pButton
              label="Submit"
              class="p-button-outlined"
              [loading]="loading"
              (click)="submitCode(problem, user, selectedLanguage)"
            ></button>
          </div>

          <ng-container *ngIf="this.currentSubmission$ | async as currentSubmission; else noSubmission">
            <div
              class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
              *ngFor="let testResult of currentSubmission.testResults; let i = index"
            >
              <h4>Testcase {{ i + 1 }}</h4>
              <p>
                Status: <code>{{ loading ? 'Running...' : (testResult.status | submissionStatus) }}</code>
              </p>
              <ng-container *ngIf="!loading">
                <p *ngIf="testResult.output">
                  Output: <code>{{ testResult.output }}</code>
                </p>
                <p *ngIf="testResult.message">
                  Message:
                  <code>{{ testResult.message | messageErrorStatus }}</code>
                </p>
                <p *ngIf="testResult.stderr">
                  Standard error output: <code>{{ testResult.stderr }}</code>
                </p>
                <p *ngIf="testResult.compileOutput">
                  Compiler output: <code>{{ testResult.compileOutput }}</code>
                </p>
                <p *ngIf="testResult.time">
                  Time taken: <code>{{ testResult.time }} seconds</code>
                </p>
                <p *ngIf="testResult.memory">
                  Memory used: <code>{{ testResult.memory }} bytes</code>
                </p>
                <p *ngIf="testResult.cpuTimeLimitExceeded">⚠️ CPU time limit exceeded</p>
                <p *ngIf="testResult.memoryLimitExceeded">⚠️ Memory usage limit exceeded</p>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #noSubmission
            ><h3>No code submitted in {{ selectedLanguage.name }} yet.</h3></ng-template
          >
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
