<ng-container *ngIf="this.problem$ | async as problem">
  <ng-container *ngIf="this.user$ | async as user">
    <div class="card">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex gap-2 align-items-center">
              <i class="pi pi-question-circle"></i>
              <span>Problem</span>
            </div>
          </ng-template>
          <div class="flex justify-content-between flex-wrap gap-3">
            <div class="flex flex-column flex-grow-1 gap-3" style="width: 500px">
              <h1>{{ problem.title }}</h1>
              <div><p-chip *ngFor="let tag of problem.tags" [label]="tag" styleClass="mr-2"></p-chip></div>
              <div class="flex gap-3">
                <button
                  pButton
                  icon="pi pi-pencil"
                  label="Edit"
                  class="p-button-outlined"
                  (click)="this.router.navigate(['/problem-submit/' + problem._id])"
                ></button>

                <p-confirmDialog
                  [style]="{ width: '50vw' }"
                  [baseZIndex]="10000"
                  rejectButtonStyleClass="p-button-text"
                ></p-confirmDialog>
                <button
                  pButton
                  (click)="deleteProblem(problem)"
                  icon="pi pi-trash"
                  label="Delete"
                  class="p-button-danger p-button-outlined"
                ></button>
              </div>

              <h4>Difficulty: {{ problem.difficulty | problemDifficulty }}</h4>

              <markdown [data]="problem.text" [disableSanitizer]="true"></markdown>

              <div class="flex flex-column">
                <div
                  class="surface-card p-4 shadow-2 border-round w-full lg:w-6 m-3"
                  *ngFor="let testCase of problem.testCases; let i = index"
                >
                  <h4>Testcase {{ i + 1 }}</h4>
                  <div>
                    Input: <code>{{ testCase.input }}</code>
                  </div>
                  <div>
                    Expected output: <code>{{ testCase.desiredOutput }}</code>
                  </div>
                  <div>
                    CPU time limit:
                    <code>{{ testCase.cpuTimeLimit ? testCase.cpuTimeLimit + ' seconds' : 'None' }} </code>
                  </div>
                  <div>
                    Memory usage limit:
                    <code>{{ testCase.memoryUsageLimit ? testCase.memoryUsageLimit + ' bytes' : 'None' }}</code>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-grow-1 p-4 shadow-2 border-round darker-surface-card" style="width: 500px">
              <ng-container *ngIf="this.selectedLanguage$ | async as selectedLanguage">
                <div class="flex flex-row align-items-center">
                  <h4>Language</h4>
                  <p-dropdown
                    [disabled]="loading"
                    [options]="languages"
                    [ngModel]="selectedLanguage$ | async"
                    (ngModelChange)="this.selectedLanguage$.next($event); changeCodeTemplate(problem, user, $event)"
                    optionLabel="name"
                  >
                  </p-dropdown>
                </div>

                <ngx-codemirror
                  [disabled]="this.loading"
                  [(ngModel)]="code"
                  [options]="this.codemirrorOptions"
                ></ngx-codemirror>
                <div class="flex flex-row-reverse justify-content-between">
                  <ng-container *ngIf="this.currentSubmission$ | async as currentSubmission; else createSubmission">
                    <button
                      pButton
                      label="Submit"
                      class="p-button-outlined"
                      [loading]="loading"
                      (click)="submitCode(problem, currentSubmission, user, selectedLanguage)"
                    ></button>
                    <button
                      pButton
                      label="Delete submission"
                      icon="pi pi-trash"
                      class="p-button-outlined p-button-danger"
                      [disabled]="loading"
                      (click)="deleteSubmission(problem, currentSubmission)"
                    ></button>
                  </ng-container>
                  <ng-template #createSubmission>
                    <button
                      pButton
                      label="Submit"
                      class="p-button-outlined"
                      [loading]="loading"
                      (click)="submitCode(problem, undefined, user, selectedLanguage)"
                    ></button>
                  </ng-template>
                </div>

                <ng-container *ngIf="this.currentSubmission$ | async as currentSubmission; else noSubmission">
                  <git-gud-test-results [testResults]="currentSubmission.testResults"></git-gud-test-results>

                </ng-container>
                <ng-template #noSubmission>
                  <h3>No code submitted in {{ selectedLanguage.name }} yet.</h3>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="flex gap-2 align-items-center">
              <i class="pi pi-check-circle"></i>
              <span>Solutions</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <ng-container
              *ngIf="{ solutions: this.solutions$ | async, selectedSolution: this.selectedSolution$ | async } as vm"
            >
              <div class="flex flex-wrap">
                <div class="flex flex-column flex-grow-1" style="width: 500px">
                  <div>
                    <h1>{{ problem.title }}</h1>
                    <div><p-chip *ngFor="let tag of problem.tags" [label]="tag" styleClass="mr-2"></p-chip></div>
                    <h3>{{ vm.solutions!.length > 0 ? 'Solutions' : 'No solutions for this problem yet.' }}</h3>
                  </div>
                  <p-table *ngIf="vm.solutions!.length > 0" [value]="vm.solutions!" tableStyle="width:100%">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>User</th>
                        <th>Language</th>
                        <th>Time</th>
                        <th>Memory</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-solution>
                      <tr>
                        <td>
                          {{ solution.author.name }}
                        </td>
                        <td>{{ solution.programmingLanguage | programmingLanguage }}</td>
                        <td>{{ solution.testResults | arrayAverage : 'time' }} s</td>
                        <td>{{ solution.testResults | arrayAverage : 'memory' }} B</td>
                        <td>
                          <button
                            pButton
                            [class]="solution._id === vm.selectedSolution!._id ? '' : 'p-button-outlined'"
                            (click)="this.selectedSolution$.next(solution)"
                            label="View code"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

                <div class="flex-grow-1 p-4 darker-surface-card" *ngIf="vm.selectedSolution">
                  <ng-container *ngIf="this.selectedLanguage$ | async as selectedLanguage">
                    <div class="flex flex-row align-items-center">
                      <h4>Language: {{ vm.selectedSolution!.programmingLanguage | programmingLanguage }}</h4>
                    </div>

                    <ngx-codemirror
                      [ngModel]="vm.selectedSolution!.code"
                      [options]="this.codemirrorOptionsSolution"
                    ></ngx-codemirror>

                    <git-gud-test-results [testResults]="$any(vm.selectedSolution?.testResults)"></git-gud-test-results>
                    <ng-template #noSubmission
                      ><h3>No code submitted in {{ selectedLanguage.name }} yet.</h3></ng-template
                    >
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-container>
</ng-container>
