<div class="flex align-items-center justify-content-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">git gud</div>
    </div>

    <div>
      <label for="name1" class="block text-900 font-medium mb-2">Name</label>
      <input id="name1" type="text" placeholder="Name" pInputText class="w-full mb-3" [(ngModel)]="name" />

      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3" [(ngModel)]="email" />

      <div class="flex justify-content-between">
        <button pButton label="Register" icon="pi pi-user" class="" (click)="register()"></button>
        <button pButton label="Login" icon="pi pi-user" class="" (click)="redirectToLogin()"></button>
      </div>
    </div>
  </div>
</div>
